.feeding-programmes {
  width: 320px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.feeding-programmes__title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black;
}

.feeding-programmes__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.feeding-programmes__item {
  padding: 30px 20px 0;
  background-color: $basic-grey;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.feeding-programmes__description {
  color: $special-darkgrey;
}

.feeding-programmes__link {
  text-align: center;
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $black;
}
