.hero {
  position: relative;
  margin: 0 auto;
  padding-top: 27px;
  width: $mobile-width;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    width: $tablet-width;
    min-height: 875px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/hero-background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 302px;
    width: 100%;
    z-index: -2;
    top: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      background-image: none;
    }
  }
}

.hero__title {
  display: block;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
  }
}

.hero__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-family: $font-secondary;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    color: $black;
  }
}

.hero__link {
  width: 280px;
  margin: 0 auto;
  padding: 10px 44px;
}

.hero__image {
  object-fit: contain;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 709px;
    height: 609px;
    z-index: -1;
    top: 266px;
    right: 30px;
  }
}
