.page {
  height: 100%;
}

.page__body {
  padding: 0;
  margin: 0 auto;
  width: $mobile-width;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: $font-primary;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

