.products-main__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 63px 80px;
  }
}
